@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
@import url(https://use.fontawesome.com/releases/v6.2.0/css/all.css);

:root {
	--color-background: #ffffff;
	--color-main: #779bc8;
	--color-button: #ffffff;
	--color-button-hover: #85c7df;
	--color-text-main: #333333;
	--color-text-reversal: #ffffff;
	--width-main: 1200px;
	--height-header: 56px;
	--height-footer: 40px;
	--padding-y-main: 100px;
}

html,
body,
div:has(.indexPage),
.indexPage {
	height: 100%;
}

.indexPage *:not(i) {
	font-family: 'Noto Sans JP', sans-serif;
	color: var(--color-text-main);
}

.indexPage body {
	background: var(--color-background);
	margin-bottom: 0;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* -------- structure -------- */

.indexPage header {
	display: flex;
	margin: -8px -8px 0;
	padding: 8px max(8px, calc((100% - var(--width-main)) / 2 + 8px));
	background: var(--color-main);
	height: var(--height-header);
	box-sizing: border-box;
}

.indexPage header .sitename {
	display: flex;
	height: 40px;
	line-height: 48px;
	font-size: 20px;
	text-decoration: none;
	color: var(--color-text-reversal);
}

.indexPage header .sitename img {
	height: 100%;
	margin-right: 10px;
}

.indexPage header .sitename i {
	height: 40px;
	line-height: 48px;
	font-size: 30px;
	margin-right: 10px;
	color: var(--color-text-reversal);
}

@media screen and (min-width: 800px) {
	.indexPage header details {
		display: none;
	}

	.indexPage header nav {
		display: flex;
		margin-left: auto;
	}

	.indexPage header nav a {
		margin-left: 16px;
		height: 40px;
		line-height: 48px;
		text-decoration: none;
		color: var(--color-text-reversal);
	}
}

@media screen and (max-width: 801px) {
	.indexPage header nav {
		display: none;
	}

	.indexPage header details {
		display: contents;
	}

	.indexPage header details summary::before {
		content: '\f0c9';
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		font-size: 24px;
		color: var(--color-text-reversal);
	}

	.indexPage header details summary {
		display: block;
		margin-left: auto;
		border: 1px solid var(--color-text-reversal);
		border-radius: 2px;
		width: 40px;
		height: 32px;
		line-height: 32px;
		margin-top: 4px;
		text-align: center;
	}

	.indexPage header details summary::-webkit-details-marker {
		display: none;
	}

	.indexPage header details summary + * {
		display: block;
		position: absolute;
		top: 56px;
		right: 0;
		background: var(--color-main);
	}

	.indexPage header details summary + * a {
		display: block;
		text-decoration: none;
		color: var(--color-text-reversal);
		margin: 8px 16px;
	}
}

.indexPage main {
	margin: var(--padding-y-main) 0;
	padding: 0 calc((100% - var(--width-main)) / 2);
	overflow: hidden;
	/* -300px: header_bottom */
	min-height: calc(
		100% - var(--height-header) - var(--height-footer) - var(--padding-y-main) *
			2 - 300px
	);
	box-sizing: border-box;
}

.indexPage footer {
	margin: 0 -8px -8px;
	padding: 8px max(8px, calc((100% - var(--width-main)) / 2 + 8px));
	background: var(--color-main);
	color: var(--color-text-reversal);
	height: var(--height-footer);
	box-sizing: border-box;
}

.indexPage footer a {
	color: var(--color-text-reversal);
}

.indexPage footer a.icon::after {
	content: '\f08e';
	margin-left: 4px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

.indexPage footer i {
	color: var(--color-text-reversal);
	margin-left: 2px;
}

/* -------- modal dialog -------- */
.indexPage dialog {
	padding: 0;
}

.indexPage dialog > div {
	padding: 16px;
}

/* -------- flex -------- */

@media screen and (min-width: 800px) {
	.indexPage .flex {
		display: flex;
		gap: 32px;
	}

	.indexPage .flex > * {
		flex: 1;
	}

	.indexPage .flex .sized {
		flex: initial;
	}
}

@media screen and (max-width: 801px) {
	.indexPage .flex .sized {
		width: 100% !important;
	}
}

/* -------- elements -------- */

.indexPage p,
.indexPage li {
	line-height: 2em;
}

.indexPage h1 {
	margin-top: 0;
	color: var(--color-main);
	font-size: 180%;
}

.indexPage h1 .update {
	font-size: 50%;
	font-weight: normal;
}

.indexPage h2 {
	color: var(--color-main);
}

.indexPage h1 ~ h2,
.indexPage h2 ~ h2 {
	margin-top: 64px;
}

.indexPage h3 {
	margin-top: 0;
}

.indexPage img.responsive {
	width: 100%;
}

.indexPage div.info {
	background: var(--color-main3);
	padding: 8px;
	margin-bottom: 64px;
	border-radius: 8px;
}

.indexPage .download_button {
	padding: 8px 16px;
	border-radius: 4px;
	color: var(--color-text-reversal);
	text-decoration: none;
	background: #1968e5;
	appearance: none;
	border-style: none;
	font-size: 16px;
}

.indexPage .download_button:hover {
	background: #17459c;
}

.indexPage .download_button i {
	color: var(--color-text-reversal);
	margin-right: 4px;
}

.indexPage form dt {
	float: left;
}

.indexPage form dd {
	margin-left: 140px;
	margin-bottom: 24px;
}

.indexPage
	input:not([type='checkbox']):not([type='radio']):not([type='file']):not([type='hidden']):not([type='submit']):not([type='reset']):not([type='button']):not([type='image']) {
	font-size: 1em;
	width: 200px;
}

.indexPage input[type='button'],
.indexPage input[type='submit'] {
	-webkit-apperapance: none;
	padding: 4px 12px;
	font-size: 16px;
	border-style: none;
	border-radius: 4px;
	background: var(--color-button-hover);
}

.indexPage input[type='button']:hover,
.indexPage input[type='submit']:hover {
	background: var(--color-main);
}

/* -------- app custom -------- */

.indexPage .pwa_recommend span {
	background: #eee;
	border-radius: 2px;
	padding: 2px 8px;
}

.indexPage .header_buttom {
	height: 300px;
	box-sizing: border-box;
	margin: 0 -8px;
	padding: 64px max(8px, calc((100% - var(--width-main)) / 2 + 8px));
	background: url(/header.jpg) center / auto no-repeat #00474d;
}
