:root {
	--app-color-background: #f2f2f6;
	--app-color-background2: #ffffff;
	--app-color-background-hover: #e5e5e9;
	--app-color-main: #000000;
	--app-color-main2: #b2b2b2;
	--app-color-gray: #85858a;
	--app-color-accent: #007aff;
	--app-color-line: #c6c6c8;
}

html,
body,
div:has(.appWindow),
.appWindow {
	height: 100%;
}

body:has(.appWindow) {
	margin: 0;
	padding: 0;
	background: #ccc;
}

.appWindow {
	margin: auto;
	padding: 16px;
	width: 100%;
	box-sizing: border-box;
	max-width: 450px;
	background: var(--app-color-background);
	overflow-y: scroll;
}

.header {
	position: sticky;
	top: -16px;
	margin: -16px -16px 32px;
	padding-top: 10px;
	width: calc(100% + 32px);
	height: 34px;
	background: var(--app-color-background2);
	border-bottom: 1px solid var(--app-color-main2);
	z-index: 100;
}

.header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

.header a {
	display: flex;
	align-items: center;
	position: absolute;
	top: 12px;
	left: 8px;
	font-size: 18px;
	color: var(--app-color-accent);
	text-decoration: none;
}

.header a:hover {
	opacity: 0.5;
}

.listtitle {
	margin-left: 16px;
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: bold;
	color: var(--app-color-gray);
}

.listgroup {
	display: block;
	padding: 0 !important;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 16px;
	margin-bottom: 16px;
	border-radius: 16px;
	background: var(--app-color-background2);
	overflow: hidden;
}

.listitem {
	display: flex;
	position: relative;
	font-size: 16px;
	padding-left: 16px;
	height: 45px;
	line-height: 45px;
	color: var(--app-color-main);
	text-decoration: none;
}

.listitem:has(button):hover,
.listitem:has(input[type='submit']):hover {
	background: var(--app-color-main2);
}

.listitem:not(:first-child) {
	border-top: 1px solid var(--app-color-background);
}

.listitem svg {
	margin-left: auto;
	padding: 16px;
}

.listitem input,
.listitem select {
	border: none;
	width: calc(100% - 16px);
	height: calc(100% - 8px);
	margin: 4px 0;
	font-size: 16px;
	background: transparent;
}

.listitem button {
	width: calc(100% - 16px);
	text-align: left;
	background: transparent;
	border: none;
	font-size: 16px;
	color: var(--app-color-accent);
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}
