.logRow {
	display: flex;
	line-height: 2em;
	font-size: 14px;
}

.logRow p {
	margin: 0;
}

.logRow div:has(> .deleteButton) {
	margin-left: auto;
}

.deleteButton {
	padding: 4px 0;
	appearance: none;
	border-style: none;
	background-color: transparent;
}

.deleteButton:hover {
	opacity: 0.3;
}
